<% if @recipe.stages.empty? %>
<br>
    No stages are using this recipe.
<br>
<% else %>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th><%= I18n.t('helpers.project') %></th>
            <th><%= I18n.t('helpers.stage') %></th>
        </tr>
        </thead>
        <tbody>
        <% for stage in @recipe.stages %>
            <tr>
                <td><%= link_to h(stage.project.name), project_path(stage.project) %></td>
                <td><%= link_to h(stage.name), project_stage_path(stage.project, stage) %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
<% end %>