<% if @stages.empty? %>
    No deployments for this host.
<% else %>
    <table class="table">
        <thead>
        <tr>
            <th>Project</th>
            <th>Stage</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <% for stage in @stages %>
            <tr>
                <td><%= link_to h(stage.project.name), project_path(stage.project) %></td>
                <td><%= link_to h(stage.name), project_stage_path(stage.project, stage) %></td>
                <td>
                    <% for role in stage.roles.where('host_id = ?', @host.id) %>
                        <%=h role.name %>
                        <%=h role.role_attribute_hash.inspect unless role.role_attribute_hash.blank?  %>
                        <br>
                    <% end %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
<% end %>