<% if @stage.recipes.empty? %>
    <br>
    No recipes configured yet.<br>
    <%= link_to 'Recipes', recipes_path %> are custom Capistrano tasks and variables that can be used across stages.
    <br>
<% else %>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody class="table-bordered">
        <% @stage.recipes.ordered.each do |recipe| %>
            <tr class="<%= cycle :even, :odd, :name => 'recipes'  %>">
                <td><%= link_to recipe.name, recipe_path(recipe) %></td>
                <td><%= recipe.description %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
<% end %>

<ul class="pagination"></ul>
