<% flashed_errors(:configuration) %>
<p>
    <b>Name</b><br>
    <%= text_field 'configuration', 'name', :style =>'' %>
</p>
<b>Value</b><br>
<%= text_field 'configuration', 'value', style: 'width: 330px', id: 'value-field' %>
<p>
    Or prompt?
    <%= check_box 'configuration', 'prompt_on_deploy', :style =>'' %>
</p>
<script type="text/javascript">
    $("input:checkbox").change(function(){
        if ($(this).is(":checked")) {
            var field = $("#value-field")
            field.prop('disabled', true)
        } else {
            var field = $("#value-field")
            field.prop('disabled', false)
        }
    })
</script>
