<!--super simple tree-->
<style>
    .branch
    {
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }
</style>
<div class="tree" id="root">
    <% @menu.each do |branch| %>
        <%= tree_brnach_draw(branch) %>
    <% end %>
</div>
<script>
    function isBranchOpen(branch) {
        return branch.children("div.tree").attr("hidden") == null;
    }

    function openBranch(branch) {
        function _open(branch) {
            var tree = branch.children("div.tree");
            var button = branch.children("button");
            if (tree.attr("hidden") == null) {
                return;
            } else {
                tree.removeAttr("hidden");
                button.children("span").removeClass("glyphicon-plus");
                button.children("span").addClass("glyphicon-minus");
            }
        }
        branch.parents("div.branch").each(function() {
            _open($(this));
        });
        _open(branch);
    }

    function foldBranch(branch) {
        var tree = branch.children("div.tree");
        var button = branch.children("button");
        if (tree.attr("hidden") != null) {
            return;
        } else {
            tree.attr("hidden", "hidden");
            button.children("span").removeClass("glyphicon-minus");
            button.children("span").addClass("glyphicon-plus");
        }
    }

    function toggleBranch(branch) {
        var tree = branch.children("div.tree");
        var button = branch.children("button");
        if (tree.attr("hidden") != null) {
            tree.removeAttr("hidden");
            button.children("span").removeClass("glyphicon-plus");
            button.children("span").addClass("glyphicon-minus");
        } else {
            tree.attr("hidden", "hidden");
            button.children("span").removeClass("glyphicon-minus");
            button.children("span").addClass("glyphicon-plus");
        }
    }

    $(".branch-toggler").click(function() {
        var branch = $(this).parent();
        toggleBranch(branch);
    });


    $(document).ready(function() {
        var branch = null;

        if (window.location.pathname.match(/^\/projects\/[0-9]+/)) {
            var projectId = window.location.pathname.match(/^\/projects\/([0-9]+)/)[1]
            var branchId = "#project-" + projectId + "-branch"
            branch = $(branchId);
        } else if (window.location.pathname.match(/^\/projects/)) {
            branch = $("#projects-branch");
        } else if (window.location.pathname.match(/^\/hosts/)) {
            branch = $("#hosts-branch");
        } else if (window.location.pathname.match(/^\/recipes/)) {
            branch = $("#recipes-branch");
        }
        if (branch != null) {
            openBranch(branch);
        }
    });
</script>
